{% extends 'master/base.html' %}
{% load static %}

{% block title %}KhalsaAid{% endblock %}

{% block content %}

<style>
    .active-projects-box .content-div {
  
  min-height: 150px;
  
}
</style>

<div class="bodyDiv">
                
    {% include 'master/header.html' %}
    <section class="slider-div">
        <div class="overlay"></div>
        <div id="carousel-example-generic-inner" class="carousel carousel-fade" data-ride="carousel" data-interval="5000" data-pause="false" style="display: none;">
        <div class="carousel-inner" role="listbox">
            <div class="item active ">
                <img src="{% static 'uploads/banners/mobile/1584292892_banner.jpg.jpeg' %}" width="100%"> 
            </div>						
        </div>
    </div>
<div id="carousel-background" class="carousel carousel-fade" data-ride="carousel" data-interval="5000" data-pause="false">
    <div class="carousel-inner" role="listbox">
                    <div class="item active ">
            <img src="{% static 'uploads/banners/mobile/1584292892_banner.jpg.jpeg' %}" width="100%"> 
        </div>
                                    
    </div>		
</div>

        


        </section>
        <section class="paddingTB60">
            <div class="container">
                <h1 class="title01 text-center">Team</h1>
                <div class="row" id="latest-news-section" >
                    <div class="col-xs-6 col-md-4  white-panel  r1 c0 "  style="width: 366.667px; left: 0px; top: 0px;">
                        <div class="active-projects-box shadow">
                            <div class="img-div" style="background: url('{% static 'team/1.jpeg' %}') no-repeat center;background-size: cover; border:3px #f47920 solid;" >
                                <div class="my-cart-image " > </div>
                            </div>
                            <div class="content-div ">
                                <h2 class="title02 mt-2">Director, Chandimandar Branch</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 white-panel  r1 c0 "  style="width: 366.667px; left: 0px; top: 0px;">
                        <div class="active-projects-box shadow">
                            <div class="img-div" style="background: url('{% static 'team/2.jpeg' %}') no-repeat center;background-size: cover; border:3px #f47920 solid;" >
                                <div class="my-cart-image " > </div>
                            </div>
                            <div class="content-div ">
                                <h2 class="title02 mt-2">Director, Public Relations, Chandimandar Branch</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 white-panel  r1 c0 "  style="width: 366.667px; left: 0px; top: 0px;">
                        <div class="active-projects-box shadow">
                            <div class="img-div" style="background: url('{% static 'team/3.jpg' %}') no-repeat center;background-size: cover; border:3px #f47920 solid;" >
                                <div class="my-cart-image " > </div>
                            </div>
                            <div class="content-div ">
                                <h2 class="title02 mt-2">Deputy Director, Chandimandar Branch</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 white-panel  r1 c0 "  style="width: 366.667px; left: 0px; top: 0px;">
                        <div class="active-projects-box shadow">
                            <div class="img-div" style="background: url('{% static 'team/4.jpeg' %}') no-repeat center;background-size: cover; border:3px #f47920 solid;" >
                                <div class="my-cart-image " > </div>
                            </div>
                            <div class="content-div ">
                                <h2 class="title02 mt-2">Manager Finance and Logistics</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 white-panel  r1 c0 "  style="width: 366.667px; left: 0px; top: 0px;">
                        <div class="active-projects-box shadow">
                            <div class="img-div" style="background: url('{% static 'team/5.jpeg' %}') no-repeat center;background-size: cover; border:3px #f47920 solid;" >
                                <div class="my-cart-image " > </div>
                            </div>
                            <div class="content-div ">
                                <h2 class="title02 mt-2">Manager Field Operations</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 white-panel  r1 c0 "  style="width: 366.667px; left: 0px; top: 0px;">
                        <div class="active-projects-box shadow">
                            <div class="img-div" style="background: url('{% static 'team/6.jpeg' %}') no-repeat center;background-size: cover; border:3px #f47920 solid;" >
                                <div class="my-cart-image " > </div>
                            </div>
                            <div class="content-div ">
                                <h2 class="title02 mt-2">Honey Singh, Receptionist</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
    {% include 'master/twitter_section.html' %}
    {% include 'master/programmes.html' %}
    {% include 'master/footer.html' %}
</div> 

{% endblock %}