<footer>
    <div class="inner-div">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ggs-msg">
                        <p>"Recognise the whole human race as one"</p>
                        <p class="text-right">- Guru Gobind Singh Ji </p>
                    </div>
                    <div class="clearfix"></div>					
                </div>
                <div class="col-sm-4">
                    <div class="address-tbl ">
                        <table class="" width="100%" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                                <td width="52" valign="top"><span class="c-icon"><i class="fa fa-building-o"></i></span></td>
                                <td>Khalsa Aid International<br>
                                    Unit 8, Lake End Court, Taplow Road, Taplow, Maidenhead, Berkshire<br>SL6 0JQ</td>
                            </tr>
                            <tr>
                                <td><span class="c-icon"><i class="fa fa-phone"></i></span></td>
                                <td>+91 9517896272</td>
                            </tr>
                            <tr>
                                <td><span class="c-icon"><i class="fa fa-envelope"></i></span></td>
                                <td>support@khalsa-aid.in </td>
                            </tr>
                            <tr>
                                <td><span class="c-icon"><i class="fa fa-envelope"></i></span></td>
                                <td><a href="{% url 'subscribe_page' %}" target="_Blank" style="color:White">Subscribe to mailing list</a></td>
                            </tr>

                        </tbody></table>
                    </div>
                </div>
                <div class="col-sm-4 line-dot">
                    <p>For all enquiries regarding volunteering, 
                        fundraising and arranging local events, 
                        please contact:</p>

                    <p class="footer-social-icon" style="font-size: 20px;"><a href="mailto:support@khalsa-aid.in" class="envelope"><i class="fa fa-envelope"></i></a>support@khalsa-aid.in</p>
                    <style>
                        footer .fa{
                            padding-top: 10px;
                        }
                        footer .c-icon, footer td{
                            color: white;
                        }
                        footer td{
                            font-size: 20px;
                            line-height: 22px;
                        }
                    </style>
                    
                    <div class="footer-social-icon"> 
                        <a href="#!" target="_blank" class="facebook" ><i class="fa fa-facebook"></i></a>
                        <a href="#!" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#!" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a>
                        <a href="mailto:support@khalsa-aid.in" class="envelope"><i class="fa fa-envelope"></i></a>
                        <a href="#!" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a> 
                    </div>
                    
                    
                    <p><br><a href="#!" style="color:White">Our privacy policy</a>&nbsp;and
                             <a href="#!" style="color:White">Terms</a>
                    <br>We use cookies to improve your experience.</p>
                    
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
	
	
    <div class="copy-right"> <i class="fa fa-copyright"></i> Khalsa Aid International <span>·</span> Registered Charity Number: 1163294</div>
        
    
</footer>