<footer>
    <div class="inner-div">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ggs-msg">
                        <p>"Recognise the whole human race as one"</p>
                        <p class="text-right">- Guru Gobind Singh Ji </p>
                    </div>
                    <div class="clearfix"></div>					
                </div>
                <div class="col-sm-4">
                    <div class="address-tbl ">
                        <table class="" width="100%" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                                <td width="52" valign="top"><span class="c-icon"><i class="fa fa-building-o"></i></span></td>
                                <td>Khalsa Aid International<br>
                                    Unit 8, Lake End Court, Taplow Road, Taplow, Maidenhead, Berkshire<br>SL6 0JQ</td>
                            </tr>
                            <tr>
                                <td><span class="c-icon"><i class="fa fa-phone"></i></span></td>
                                <td>0044 (0) 1753 567 457</td>
                            </tr>
                            <tr>
                                <td><span class="c-icon"><i class="fa fa-envelope"></i></span></td>
                                <td>info@khalsaaid.org </td>
                            </tr>
                            <tr>
                                <td><span class="c-icon"><i class="fa fa-envelope"></i></span></td>
                                <td><a href="http://eepurl.com/dtcnjj" target="_Blank" style="color:White">Subscribe to mailing list</a></td>
                            </tr>

                        </tbody></table>
                    </div>
                </div>
                <div class="col-sm-4 line-dot">
                    <p>For all enquiries regarding volunteering, 
                        fundraising and arranging local events, 
                        please contact:</p>

                    <p class="footer-social-icon" style="font-size: 20px;"><a href="mailto:info@khalsaaid.org" class="envelope"><i class="fa fa-envelope"></i></a>info@khalsaaid.org</p>
                    <style>
                        footer .fa{
                            padding-top: 10px;
                        }
                        footer .c-icon, footer td{
                            color: white;
                        }
                        footer td{
                            font-size: 20px;
                            line-height: 22px;
                        }
                    </style>
                    
                    <div class="footer-social-icon"> 
                        <a href="https://www.facebook.com/Khalsa-Aid-163220440824/" target="_blank" class="facebook" ><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/khalsa_aid" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.youtube.com/user/KhalsaAid" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a>
                        <a href="mailto:info@khalsaaid.org" class="envelope"><i class="fa fa-envelope"></i></a>
                        <a href="https://www.instagram.com/khalsa_aid/?hl=en" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a> 
                    </div>
                    
                    
                    <p><br><a href="https://www.khalsaaid.org/privacypolicy" style="color:White">Our privacy policy</a>&nbsp;and
                             <a href="https://www.khalsaaid.org/terms" style="color:White">Terms</a>
                    <br>We use cookies to improve your experience.</p>
                    
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
	<section >
		<div class="container" >
			<div class="form-group">
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-4">					
						<div class="sub-input">							
							<!--
							
							<input type="text" class="form-control custom-subscribe" name="email_address" id="email_address" placeholder="Email Address">
							<a href="javascript:void(0)" class="btn btn-subscribe mail_subscribe">Subscribe </a>
							<div class="hide" id="error_subscribe">error</div>
							-->
							
							
					<script type="text/javascript" charset="utf-8" src="//downloads.mailchimp.com/js/signup-forms/popup/dad5257e8784c6cb4633ebbf068517135d2e0d05/popup.js"></script><script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
					<script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us1.list-manage.com","uuid":"b4511b33ec4c88b6f3852c70d","lid":"88edacb5e4"}) })</script>
					
							
						</div>

					</div>

				</div>
			</div>
		</div>
	</section>
	
	
    <div class="copy-right"> <i class="fa fa-copyright"></i> Khalsa Aid International <span>·</span> Registered Charity Number: 1163294</div>
        
    
</footer>