<div class="main-menu-list">
    <h3>Menu</h3>
    <ul>
        <li class='{% if section == "home" %}active {% endif %}'><a href="{% url 'index' %}">Home</a></li>
        <li class='{% if section == "projects" %}active {% endif %}'><a href="{% url 'projects' %}">Our Projects</a></li>
        <li class='{% if section == "blogs" %}active {% endif %}'><a href="{% url 'blogs' %}">Blog</a></li>
        <li class='{% if section == "news" %}active {% endif %}'><a href="{% url 'news' %}">Recent News</a></li>
        <li class='{% if section == "events" %}active {% endif %}'><a href="{% url 'events' %}">Events</a></li>
        <li class=""><a href="https://www.facebook.com/khalsaaidint.html">Social Media Hub</a></li>
        <li class=""><a href="./contact-us.html">Contact Us</a></li>
        <li class=""><a href="{% url 'employess' %}">Employees</a></li>
        <li class='{% if section == "donation" %}active {% endif %}'><a href="{% url 'donations' %}">Donate</a></li>
    </ul>
</div>