{% load static %}
<section class="paddingTB40 other-charities-section">
    <div class="container">
        <h2 class="title01 text-center">Our long term programmes</h2>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <p style="text-align: center"><a href="www.focuspunjab.org" target="_blank" title="Click to view"><img src="{% static 'images/frontsite/focus-img.png' %}"></a></p>
                <p> Focus Punjab is our long term programme in Punjab, India focusing on providing long term support in the region.</p>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12 pull-right">
                <p style="text-align: center"><a href="langaraid.org" target="_blank" title="Click to view"><img src="{% static 'images/frontsite/langar.png' %}"></a></p>
                <p>Langar Aid is our dedicated initiative to provide emergency food &amp; water supplies in disaster &amp; war zones.
</p>
            </div>
        </div>
    </div>
</section>