{% load static %}

<script src="{% static 'js/jquery.min.js' %}"></script>

        <script src="{% static 'js/frontsite/jquery.timeago.js' %}"></script>

        <link rel="stylesheet" media="all" type="text/css" href="{% static 'css/frontsite/social-icon-font.css' %}">

        <link rel="stylesheet" media="all" type="text/css" href="{% static 'css/frontsite/font-awesome.css' %}">

        <link rel="stylesheet" media="all" type="text/css" href="{% static 'css/fonts/custom-font.css' %}">
        
        <!-- Bootstrap -->
        <link rel="stylesheet" media="all" type="text/css" href="{% static 'css/frontsite/bootstrap-theme.css' %}">
        
        <link rel="stylesheet" media="all" type="text/css" href="{% static 'css/frontsite/bootstrap.css' %}">

        <link rel="stylesheet" media="all" type="text/css" href="{% static 'css/frontsite/style.css' %}">
    
		<script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>

		<script type="text/javascript" src="{% static 'js/ui-bootstrap-tpls-0.11.0.min.js' %}"></script>


		<script type="text/javascript" src="{% static 'js/customangular.js' %}"></script>

        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

        <style>
			video { 
				min-width: 100%;
				min-height: 100%;
				width: 100%;
				height: auto;
				/* background: url('assets/images/frontsite/homeslider/small/1.jpg.jpeg') no-repeat;*/
				background-size: cover;
				transition: 1s opacity;
				vertical-align: bottom;
			}  
			header.affix
			{
				background: rgba(255, 255, 255, 0.9);
			}
		</style>