{% load static %}
<section class="skyBlue-bg twitter-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-icon">
                    <p><img src="{% static 'images/frontsite/tw-lg-icon.png' %}"></p>
                    <p class="follower_count">0 Followers<br>
                        Follow Us:</p>
                    <h3><a href="#!" target="_blank" style="color: #fff;" title="Follow Us On Twitter">@Khalsa_Aid</a></h3>
                </div>
            </div>
            <div class=" col-sm-9">
                <div id="carousel-background-twitter" class="carousel slide" data-ride="carousel" data-interval="5000" style="margin-top:25px" data-pause="false">
                    <div class="carousel-inner tweets-rotator" role="listbox">                   

                    <div class="item">Less than a week to go! We can't wait to have you join on this wonderful day out. You can find out more at… https://t.co/EaHz1risIO<div class="cl-icon" style="opacity: 1;"> <span style="margin-left:2px;" class="spantime"><i class="fa fa-clock-o"></i> <abbr class="timeago" title="Sun Jul 03 18:59:33 +0000 2022">14 hours ago</abbr></span><span><i class="fa fa-retweet"></i> 16 </span> <span><i class="fa fa-heart"></i> 106 </span></div></div><div class="item">Recognise the whole human race as one.

#khalsaaid #humanitarianaid #community https://t.co/B5m2jGOtHF<div class="cl-icon" style="opacity: 1;"> <span style="margin-left:2px;" class="spantime"><i class="fa fa-clock-o"></i> <abbr class="timeago" title="Sun Jul 03 10:00:51 +0000 2022">23 hours ago</abbr></span><span><i class="fa fa-retweet"></i> 63 </span> <span><i class="fa fa-heart"></i> 660 </span></div></div><div class="item active">RT @khalsaaid_india: #AssamFloods https://t.co/reqW9Xsojk<div class="cl-icon" style="opacity: 1;"> <span style="margin-left:2px;" class="spantime"><i class="fa fa-clock-o"></i> <abbr class="timeago" title="Sun Jul 03 07:12:01 +0000 2022">a day ago</abbr></span><span><i class="fa fa-retweet"></i> 428 </span> <span><i class="fa fa-heart"></i> 0 </span></div></div></div>
                </div>
            </div>
        </div>
    </div>
</section>